#root {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  height: auto;
  
}

.background-image {
  width: 100%;
  height: 50vh;
  background-image: url(./images/second.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #EFE5CC;
}

.logo {
  height: 120px;
  width: 120px;
}

.info {
  width: 100%;
}

.name, .nav-bar {
  height: 60px;
}

.name {
  display: table-cell;
  padding-left: 10px;
  vertical-align: bottom;
  font-size: 20pt;
  font-weight: bold;
  color: #0C2E72;
  font-family: Montserrat;
}

.nav-bar {
  display: flex;
  background-color: #71674D;
  color: #27E907;
  font-size: 14pt;
  width: 100%;
  font-weight: 450;
}

.nav-bar > ul {
  width: 100%;
  height: 60px;
  display: flex;
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 25%;
  text-align: center;
}

li:hover {
  background-color: #999966;
  cursor: pointer;
}

li.clicked {
  background-color: #999966;
}

li > p {
  margin: 0;
  width: 100%;
  text-align: center;
}

.main {
  height: max-content;
  min-height: 200px;
  width: 100%;
  /* background-color: #EFE5CC; */
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #71674D;
}